.{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(logo.jpg) no-repeat;
    background-position: center;}
    .hiii{
        width: 420px;
        border: 2px solid rgb(255,255,255, .2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0,0,.2);
        color:wheat;
        border-radius: 10px;
        padding: 30px 30px;


    }
    .hiii h1{
        font-size: 36px; 
        text-align: center;

    }
    .hiii .inputbox{
        text-align: center;
        position: relative;
        width: 100%;
        height: 50px; 
       margin: 30px 0;

    }
    .inputbox input {
    padding: 1%;

        width: 98%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgb(255,255,255, .2);
        border-radius: 20px;
        font-size: 16px;
        color: aquamarine;
    

    }
    .inputbox input::placeholder{
    color: floralwhite;
    padding: 37%;
   font-size: 18px;
}
.hiii .Forgot{
    display: flex;
    font-size: 20px;
    margin: -15px 0 15px;
    text-decoration: none;

    
}
.Forgot a:hover{
    text-decoration: none;

}
.hiii .boom{
    width: 420px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 43px;
    box-shadow:  0 0 10px  rgba(0, 0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 550;
}
.hiii .newhero{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;

}
.newhero p a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;

}
.newhero p a:hover {
    text-decoration: underline;

}